body {
  background: black;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  color: white;
}

h1 {
  font-size: calc(1.425rem + 2.1vw);
  line-height: 1.2;
  font-weight: 700!important;
}

h2 {
  margin: 0.25rem 0px;
  text-align: center!important;
}

#matrix {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  border-radius: .75rem;
}

.icon-link {
  display: inline-flex;
  align-items: center;
}
.icon-link > .bi {
  margin-top: .125rem;
  margin-left: .125rem;
  transition: transform .25s ease-in-out;
  fill: currentColor;
}
.icon-link:hover > .bi {
  transform: translate(.25rem);
}

.icon-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: .75rem;
}

.rounded-4 { border-radius: .5rem; }
.rounded-5 { border-radius: 1rem; }

.text-shadow { text-shadow: 0 0 4px rgba(0, 0, 0, 1); }

.header {
  height: calc(max(30vh, max-content));
  padding: 5rem 2rem 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: center;
}

.category-container {
  height: 70vh;
  overflow-y: scroll;
  display: flex;
  flex-wrap: nowrap;
}

.category-cards {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  min-width: 768px;
  max-width: 768px;
  padding: 6rem 0.75rem;
  margin: auto;
}

.category-card {
  margin: 0.75rem;
  height: 156px;
  min-width: 224px;
  overflow: hidden;
  color: white;
  border-radius: 1rem;
  background-color: rgba(16, 8, 24, 0.65);
  background-repeat: no-repeat;
  border: 1px solid #302040;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.175)!important;
}

.category-card:hover {
  background-color: rgba(32, 16, 48, 0.65);
  border: 1px solid #9060b0;
}

.category-card-title {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: flex-end;
  color: white;
  text-shadow: 0 0 4px rgb(0 0 0);
}

.category-card#players {
  background-image: url(images/avatar-player.png); 
  background-size: auto 160%;
  background-position: -10%;
}

.category-card#builders {
  background-image: url(images/avatar-builder.png); 
  background-size:  auto 147%;
  background-position: 50%;
}

.category-card#coders {
  background-image: url(images/avatar-coder.png); 
  background-size:  auto 158%;
  background-position: 60%;
}

@media only screen and (max-width: 767px) {
  body {
    background: black;
    height: 100%;
  }

  .category-cards {
    flex-wrap: wrap;
    align-content: start;
    padding: 1rem 0.75rem;
    min-width: 100vw;
  }

  .category-card {
    margin: 0.75rem calc(50vw - 112px - 0.75rem);
  }
}